@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
  /* background-image: url(./components/imgs/background4.png), url(./components/imgs/background2.jpg); */
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  background-color: rgb(207, 78, 78);
}

.head-dex {
  background-color: rgb(196, 60, 60);
  max-width: 40%;
  margin: auto;
  margin-top: 10px;
  box-shadow: 10px 20px 40px black;
  display: flex;
  color: white;
  justify-content: center;
}

.spinner {
  max-width: 40px;
  margin: auto;
}

.list-dex {
  display: flex;
  justify-content: space-around;
  
  flex-flow: row;
  row-gap: 50px;
}

.list-dex2 {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-content: space-between;
  row-gap: 0px;;
  width: 100%;
  margin: auto;
  margin-top: 20px;
}

.card-dex {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-content: space-between;
  row-gap: 50px;
}

.title-dex{
  background-color: gray;
  font-size: 8px;
  margin: 4px;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.wikia {
  text-decoration: none;
  color: black;
  font-size: 12px;
}

.wikia:hover {
  text-decoration: none;
  color: rgb(34, 32, 32);
  font-size: 13px;
}

.img-poke {
  border: black solid 1px;
  padding: 10px;
  border-radius: 200px;
  box-shadow: gray 0px 0px 30px 0px;
}

.img-poke:hover {
  border: black solid 1px;
  padding: 10px;
  border-radius: 200px;
  box-shadow: gray 0px 0px 30px 0px;
  transition: 2s;
  transform: scale(1.1);
}

.warning-dex {
  background-color: rgb(196, 60, 60);
  color: rgb(255, 255, 255);
  padding: 6px;
  font-size: 10px;
}

.cards {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  background-color: white;
  text-align: center;
  max-height: 250px;
  width: 180px;
  max-width: 200px;
  margin: 7px;
  padding: 9px;
  border: red none 1px;
  border-radius: 20px;
}

.cards:hover {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  background-color: white;
  text-align: center;
  max-height: 250px;
  width: 180px;
  max-width: 200px;
  box-shadow: 10px 20px 40px black;
  margin: 7px;
  padding: 9px;
  border: red none 1px;
  border-radius: 20px;
}